@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(180deg, #FDFBFB 0%, #FFF 0.01%, #F4F4F4 100%);
    background-repeat: no-repeat;
}


:where(.css-dev-only-do-not-override-pr0fja).ant-table-wrapper .ant-table-thead>tr>th {
    background: #ffff;
    color: #6611E0;
    /* Montserrat/S B 18 */
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-bottom: 1px solid #6611E0;
}

:where(.css-dev-only-do-not-override-pr0fja).ant-pagination .ant-pagination-item-active a {
    color: #6611E0;
    border: #6611E0;
}

:where(.css-dev-only-do-not-override-pr0fja).ant-switch.ant-switch-checked {
    background-color: #6611E0;
}

button.ant-switch.css-dev-only-do-not-override-pr0fja {
    background: #6611E0;
}